/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
iframe{
	margin: 0;
	padding: 0;
}
/* Custom Style */
body{
	font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.active{
	color: var(--primary);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:root{
    --primary:rgb(236,85,58)
}
a{
	text-decoration: none;
}
.uppercase{
	text-transform: uppercase;
}
.justify-center{
	justify-content: center;
}
.flex-start{
	justify-content: flex-start;
}
.margin-bottom{
	margin-bottom: 120px;
}
.center{
	text-align: center;
}
.flex-30{
	flex: 0 1 30%;
}
.flex-50{
	flex: 0 1 50%;
}
/* Hero */
.hero{
	color: white;
}
strong{
	font-size: 42px;
	font-weight: 900;
}
small{
	color: var(--primary);
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	background: rgb(101,109,117,0.2);
}

video{
	position: relative;
	width: 100%;
}
.overlay{
	height: 808px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(84,92,100,0.6);
}
nav a{
	margin-left: 20px;
	color: white;
	font-weight: 500;
}
nav a:hover{
	color: var(--primary);
}
.btn{
	background-color: var(--primary);
	color: white;
	align-items: center;
	border: none;
}
.btn-1{
	margin-left: 20px;
	padding: 12px 15px;
}
.btn:hover{
	background-color: rgb(236,85,58,0.8);
}
h2{
	font-size: 24px;
	position: absolute;
	margin-top: -63%;
}
h1{
	font-size: 70px;
	font-weight: 900;
	position: absolute;
	margin-top: -52%;
} 
.btn-secondary{
	padding: 10px 25px;
}
.hero-btn{
	position: absolute;
	margin-top: -41%;
}
/* Program */
.choose-program{
	text-align: center;
	margin-bottom: 50px;
}
h3{
	font-weight: 900;
	font-size: 32px;
	text-align: center;
}
h3 small{
	margin-left: 10px;
}
p{
	color: rgb(124,124,124);
}
.discover:hover{
	text-decoration: underline;
}
.article{
	justify-content: flex-start;
	margin-bottom: 20px;
	width: 50%;
}
.dumbel{
	margin-top: 100px;
	width: 100%;
}
.para{
	margin-bottom: 5px;
}
.discover{
	color: var(--primary);
}
.blue{
	color: rgb(75,150,255);
}
h4{
	margin-bottom: 5px;
}
/*  */
.bg-img{
	background: url(../media/cta-bg.jpg),no-repeat;
	text-align: center;
}
.think-article{
	padding: 100px;
}
.think{
	font-size: 42px;
	color: white;
}
.para2{
	margin: 10px 0;
	color: white;
}
/* Classes */
.classes{
	margin-bottom: 50px;
}
.schedule{
	background-color: white;
	box-shadow: 0 0 6px 1px rgb(77, 75, 75,0.2);
	margin-bottom: 40px;
	border-radius: 5px;
}
h4{
	/* padding: 0 20px; */
	font-size: 20px;
}
.btn-2{
	padding: 15px 30px;
	background-color: var(--primary);
	border: none;
	margin: 20px 0;
}
.btn-width{
	width: 100%;
	border-radius: 5px;
	padding: 20px 30px;
	margin-top:0;
}
.btn-2 a{
	color: white;
}
.training-img{
	margin-bottom: 20px;
	width: 100%;
}
.training-img img{
	border-radius: 10px;
}
.our-class-info{
	margin-left: 40px;
}
.classes-heading{
	margin-bottom: 20px;
}
.text{
	margin-bottom: 10px;
}
/* classes shecdule */
.classes-schedule{
	background-image: url(../media/schedule-bg.jpg);
	color: white;
	padding-top: 130px;
}
table{
	border: 2px white;
}
.table{
	padding-bottom: 130px;
}
td{
	border: 2px solid white;
	padding: 30px;
}
span{
	margin-left: 20px;
}
span:hover{
	color: var(--primary);
}
caption{
	margin-bottom: 30px;
}
/* trainers */
h5{
	font-size: 16px;
	font-weight: 400;
	color: var(--primary);
	margin: 10px 0;
}
.para4{
	margin: 20px 0;
	line-height: 1.7;
}
.trainer-article{
	box-shadow: 0 0 5px 2px rgb(116, 113, 113,0.2);
	padding: 30px;
	margin-left: 50px;
	border-radius: 5px;
}
.font a{
	color: black;
	margin-right: 10px;
}
.font a:hover{
	color: var(--primary);
}
/* Map */
.bg-img-3{
	background-image: url(../media/contact-bg.jpg);
	width: 50%;
	padding: 50px;
}
.map{
	margin: 0;
	padding: 0;
}
.name{
	width: 20%;
	margin-right: 30px;
}
.form-control{
	padding: 8px;
	margin-top: 20px;
	width: 96%;
	border: 2px solid black;
	background-color: white;
}
form{
	margin: 0 auto;
	padding: 50px;
	background-color: white;
	border-radius: 5px;
}
footer{
	padding: 30px;
	text-align: center;
}
.black{
	color: black;
}

